group-manager-components/org.wso2.carbon.group.mgt.stub/src/main/resources/GroupManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://mgt.group.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2161="http://data.mgt.group.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.group.carbon.wso2.org">
    <wsdl:documentation>GroupManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2162="http://data.mgt.group.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.group.carbon.wso2.org">
            <xs:import namespace="http://data.mgt.group.carbon.wso2.org/xsd"/>
            <xs:element name="deleteGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="group" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroups">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUser">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRole">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRoleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:Role"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUsersFromGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userNames" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUsersFromGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListRoleOfGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListRoleOfGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:Role"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRoleByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRoleByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2161:Role"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeRolesFromGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roleNames" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeRolesFromGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2161:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsByType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsByTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsByName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsByNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupsByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsersToGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userNames" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUsersToGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListUserOfGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getListUserOfGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2161:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRolesToGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="groupId" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="roleNames" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRolesToGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="group" nillable="true" type="ax2161:Group"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.mgt.group.carbon.wso2.org/xsd">
            <xs:complexType name="Group">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="createdTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="createdUser" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Role">
                <xs:sequence>
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createGroupRequest">
        <wsdl:part name="parameters" element="ns:createGroup"/>
    </wsdl:message>
    <wsdl:message name="createGroupResponse">
        <wsdl:part name="parameters" element="ns:createGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="removeUsersFromGroupRequest">
        <wsdl:part name="parameters" element="ns:removeUsersFromGroup"/>
    </wsdl:message>
    <wsdl:message name="removeUsersFromGroupResponse">
        <wsdl:part name="parameters" element="ns:removeUsersFromGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="addUsersToGroupRequest">
        <wsdl:part name="parameters" element="ns:addUsersToGroup"/>
    </wsdl:message>
    <wsdl:message name="addUsersToGroupResponse">
        <wsdl:part name="parameters" element="ns:addUsersToGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="updateGroupRequest">
        <wsdl:part name="parameters" element="ns:updateGroup"/>
    </wsdl:message>
    <wsdl:message name="updateGroupResponse">
        <wsdl:part name="parameters" element="ns:updateGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByIdRequest">
        <wsdl:part name="parameters" element="ns:getGroupsById"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByIdResponse">
        <wsdl:part name="parameters" element="ns:getGroupsByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllRoleRequest">
        <wsdl:part name="parameters" element="ns:getAllRole"/>
    </wsdl:message>
    <wsdl:message name="getAllRoleResponse">
        <wsdl:part name="parameters" element="ns:getAllRoleResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByNameRequest">
        <wsdl:part name="parameters" element="ns:getGroupsByName"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByNameResponse">
        <wsdl:part name="parameters" element="ns:getGroupsByNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getRoleByNameRequest">
        <wsdl:part name="parameters" element="ns:getRoleByName"/>
    </wsdl:message>
    <wsdl:message name="getRoleByNameResponse">
        <wsdl:part name="parameters" element="ns:getRoleByNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getListRoleOfGroupRequest">
        <wsdl:part name="parameters" element="ns:getListRoleOfGroup"/>
    </wsdl:message>
    <wsdl:message name="getListRoleOfGroupResponse">
        <wsdl:part name="parameters" element="ns:getListRoleOfGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="removeRolesFromGroupRequest">
        <wsdl:part name="parameters" element="ns:removeRolesFromGroup"/>
    </wsdl:message>
    <wsdl:message name="removeRolesFromGroupResponse">
        <wsdl:part name="parameters" element="ns:removeRolesFromGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="addRolesToGroupRequest">
        <wsdl:part name="parameters" element="ns:addRolesToGroup"/>
    </wsdl:message>
    <wsdl:message name="addRolesToGroupResponse">
        <wsdl:part name="parameters" element="ns:addRolesToGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByTypeRequest">
        <wsdl:part name="parameters" element="ns:getGroupsByType"/>
    </wsdl:message>
    <wsdl:message name="getGroupsByTypeResponse">
        <wsdl:part name="parameters" element="ns:getGroupsByTypeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllUserRequest">
        <wsdl:part name="parameters" element="ns:getAllUser"/>
    </wsdl:message>
    <wsdl:message name="getAllUserResponse">
        <wsdl:part name="parameters" element="ns:getAllUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserByNameRequest">
        <wsdl:part name="parameters" element="ns:getUserByName"/>
    </wsdl:message>
    <wsdl:message name="getUserByNameResponse">
        <wsdl:part name="parameters" element="ns:getUserByNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getListUserOfGroupRequest">
        <wsdl:part name="parameters" element="ns:getListUserOfGroup"/>
    </wsdl:message>
    <wsdl:message name="getListUserOfGroupResponse">
        <wsdl:part name="parameters" element="ns:getListUserOfGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteGroupRequest">
        <wsdl:part name="parameters" element="ns:deleteGroup"/>
    </wsdl:message>
    <wsdl:message name="deleteGroupResponse">
        <wsdl:part name="parameters" element="ns:deleteGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupsRequest">
        <wsdl:part name="parameters" element="ns:getGroups"/>
    </wsdl:message>
    <wsdl:message name="getGroupsResponse">
        <wsdl:part name="parameters" element="ns:getGroupsResponse"/>
    </wsdl:message>
    <wsdl:portType name="GroupManagerPortType">
        <wsdl:operation name="createGroup">
            <wsdl:input message="ns:createGroupRequest" wsaw:Action="urn:createGroup"/>
            <wsdl:output message="ns:createGroupResponse" wsaw:Action="urn:createGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeUsersFromGroup">
            <wsdl:input message="ns:removeUsersFromGroupRequest" wsaw:Action="urn:removeUsersFromGroup"/>
            <wsdl:output message="ns:removeUsersFromGroupResponse" wsaw:Action="urn:removeUsersFromGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addUsersToGroup">
            <wsdl:input message="ns:addUsersToGroupRequest" wsaw:Action="urn:addUsersToGroup"/>
            <wsdl:output message="ns:addUsersToGroupResponse" wsaw:Action="urn:addUsersToGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateGroup">
            <wsdl:input message="ns:updateGroupRequest" wsaw:Action="urn:updateGroup"/>
            <wsdl:output message="ns:updateGroupResponse" wsaw:Action="urn:updateGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroupsById">
            <wsdl:input message="ns:getGroupsByIdRequest" wsaw:Action="urn:getGroupsById"/>
            <wsdl:output message="ns:getGroupsByIdResponse" wsaw:Action="urn:getGroupsByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllRole">
            <wsdl:input message="ns:getAllRoleRequest" wsaw:Action="urn:getAllRole"/>
            <wsdl:output message="ns:getAllRoleResponse" wsaw:Action="urn:getAllRoleResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByName">
            <wsdl:input message="ns:getGroupsByNameRequest" wsaw:Action="urn:getGroupsByName"/>
            <wsdl:output message="ns:getGroupsByNameResponse" wsaw:Action="urn:getGroupsByNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getRoleByName">
            <wsdl:input message="ns:getRoleByNameRequest" wsaw:Action="urn:getRoleByName"/>
            <wsdl:output message="ns:getRoleByNameResponse" wsaw:Action="urn:getRoleByNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getListRoleOfGroup">
            <wsdl:input message="ns:getListRoleOfGroupRequest" wsaw:Action="urn:getListRoleOfGroup"/>
            <wsdl:output message="ns:getListRoleOfGroupResponse" wsaw:Action="urn:getListRoleOfGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeRolesFromGroup">
            <wsdl:input message="ns:removeRolesFromGroupRequest" wsaw:Action="urn:removeRolesFromGroup"/>
            <wsdl:output message="ns:removeRolesFromGroupResponse" wsaw:Action="urn:removeRolesFromGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addRolesToGroup">
            <wsdl:input message="ns:addRolesToGroupRequest" wsaw:Action="urn:addRolesToGroup"/>
            <wsdl:output message="ns:addRolesToGroupResponse" wsaw:Action="urn:addRolesToGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByType">
            <wsdl:input message="ns:getGroupsByTypeRequest" wsaw:Action="urn:getGroupsByType"/>
            <wsdl:output message="ns:getGroupsByTypeResponse" wsaw:Action="urn:getGroupsByTypeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllUser">
            <wsdl:input message="ns:getAllUserRequest" wsaw:Action="urn:getAllUser"/>
            <wsdl:output message="ns:getAllUserResponse" wsaw:Action="urn:getAllUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserByName">
            <wsdl:input message="ns:getUserByNameRequest" wsaw:Action="urn:getUserByName"/>
            <wsdl:output message="ns:getUserByNameResponse" wsaw:Action="urn:getUserByNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getListUserOfGroup">
            <wsdl:input message="ns:getListUserOfGroupRequest" wsaw:Action="urn:getListUserOfGroup"/>
            <wsdl:output message="ns:getListUserOfGroupResponse" wsaw:Action="urn:getListUserOfGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteGroup">
            <wsdl:input message="ns:deleteGroupRequest" wsaw:Action="urn:deleteGroup"/>
            <wsdl:output message="ns:deleteGroupResponse" wsaw:Action="urn:deleteGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <wsdl:input message="ns:getGroupsRequest" wsaw:Action="urn:getGroups"/>
            <wsdl:output message="ns:getGroupsResponse" wsaw:Action="urn:getGroupsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GroupManagerSoap11Binding" type="ns:GroupManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createGroup">
            <soap:operation soapAction="urn:createGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUsersFromGroup">
            <soap:operation soapAction="urn:removeUsersFromGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUsersToGroup">
            <soap:operation soapAction="urn:addUsersToGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateGroup">
            <soap:operation soapAction="urn:updateGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsById">
            <soap:operation soapAction="urn:getGroupsById" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRole">
            <soap:operation soapAction="urn:getAllRole" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByName">
            <soap:operation soapAction="urn:getGroupsByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoleByName">
            <soap:operation soapAction="urn:getRoleByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListRoleOfGroup">
            <soap:operation soapAction="urn:getListRoleOfGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeRolesFromGroup">
            <soap:operation soapAction="urn:removeRolesFromGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRolesToGroup">
            <soap:operation soapAction="urn:addRolesToGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByType">
            <soap:operation soapAction="urn:getGroupsByType" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUser">
            <soap:operation soapAction="urn:getAllUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserByName">
            <soap:operation soapAction="urn:getUserByName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListUserOfGroup">
            <soap:operation soapAction="urn:getListUserOfGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGroup">
            <soap:operation soapAction="urn:deleteGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GroupManagerSoap12Binding" type="ns:GroupManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createGroup">
            <soap12:operation soapAction="urn:createGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUsersFromGroup">
            <soap12:operation soapAction="urn:removeUsersFromGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUsersToGroup">
            <soap12:operation soapAction="urn:addUsersToGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateGroup">
            <soap12:operation soapAction="urn:updateGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsById">
            <soap12:operation soapAction="urn:getGroupsById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRole">
            <soap12:operation soapAction="urn:getAllRole" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByName">
            <soap12:operation soapAction="urn:getGroupsByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoleByName">
            <soap12:operation soapAction="urn:getRoleByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListRoleOfGroup">
            <soap12:operation soapAction="urn:getListRoleOfGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeRolesFromGroup">
            <soap12:operation soapAction="urn:removeRolesFromGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRolesToGroup">
            <soap12:operation soapAction="urn:addRolesToGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByType">
            <soap12:operation soapAction="urn:getGroupsByType" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUser">
            <soap12:operation soapAction="urn:getAllUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserByName">
            <soap12:operation soapAction="urn:getUserByName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListUserOfGroup">
            <soap12:operation soapAction="urn:getListUserOfGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGroup">
            <soap12:operation soapAction="urn:deleteGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <soap12:operation soapAction="urn:getGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GroupManagerHttpBinding" type="ns:GroupManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createGroup">
            <http:operation location="createGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeUsersFromGroup">
            <http:operation location="removeUsersFromGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUsersToGroup">
            <http:operation location="addUsersToGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateGroup">
            <http:operation location="updateGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsById">
            <http:operation location="getGroupsById"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRole">
            <http:operation location="getAllRole"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByName">
            <http:operation location="getGroupsByName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRoleByName">
            <http:operation location="getRoleByName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListRoleOfGroup">
            <http:operation location="getListRoleOfGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeRolesFromGroup">
            <http:operation location="removeRolesFromGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRolesToGroup">
            <http:operation location="addRolesToGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroupsByType">
            <http:operation location="getGroupsByType"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUser">
            <http:operation location="getAllUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserByName">
            <http:operation location="getUserByName"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListUserOfGroup">
            <http:operation location="getListUserOfGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteGroup">
            <http:operation location="deleteGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroups">
            <http:operation location="getGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GroupManager">
        <wsdl:port name="GroupManagerHttpsSoap11Endpoint" binding="ns:GroupManagerSoap11Binding">
            <soap:address location="https://ssotest.bkav.com:9446/services/GroupManager.GroupManagerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GroupManagerHttpsSoap12Endpoint" binding="ns:GroupManagerSoap12Binding">
            <soap12:address location="https://ssotest.bkav.com:9446/services/GroupManager.GroupManagerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GroupManagerHttpsEndpoint" binding="ns:GroupManagerHttpBinding">
            <http:address location="https://ssotest.bkav.com:9446/services/GroupManager.GroupManagerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>